<web-app>
    <servlet>
        <servlet-name>CheckStatus</servlet-name>
        <jsp-file>/customer/check_status.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckStatus</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookRoom</servlet-name>
        <jsp-file>/customer/book.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookRoom</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddReservation</servlet-name>
        <jsp-file>/customer/add_reservation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReservation</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmCancellation</servlet-name>
        <jsp-file>/customer/confirm_cancellation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmCancellation</servlet-name>
        <url-pattern>/cancellation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelReservation</servlet-name>
        <jsp-file>/customer/cancel_reservation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelReservation</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerOptions</servlet-name>
        <jsp-file>/customer/customer_options.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerOptions</servlet-name>
        <url-pattern>/custopt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerValidation</servlet-name>
        <jsp-file>/customer/customer_validation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerValidation</servlet-name>
        <url-pattern>/custvalidate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewCustomer</servlet-name>
        <jsp-file>/customer/new_customer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCustomer</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>
